@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font-padrao: font-family 'Poppins', sans-serif;    

$cor-primaria: rgb(240, 240, 240);
$cor-secundaria: rgb(70, 70, 70);
$preto: rgb(29, 29, 29);